<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mewon</title>
        
        <link rel="stylesheet" type="text/css" href="../public/style.css" />
         <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
         
        
</head>

<body>
    <header class="header">
        <!-- this is left most box -->
        <div class="left">
            <button class="btn">Follow</button>
            <button class="btn">Contact</button>
        </div>
        <!-- this is middle block  -->
        <div class="mid">
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="/user">User</a></li>
            </ul>
        </div>
        <!-- this is right block -->
        <div class="right">
            <img src="../public/imgs/ter.jpg" alt="">
            <h6>&lt;/ITERATORZ&gt;</h6>

        </div>

        <div class="form-box">
            <div class="head">
                <h4>To join us kindly fill the given form.</h4>

            </div>
            <form action="/user" method="POST" id="contact">
                <div class="formgrp">
                    <input type="text" name="name" id="name" placeholder="Enter your Name ">

                </div>
                <div class="formgrp">
                    <input type="text" name="email" id="email" nplaceholder="Enter the Email">
                </div>
                <div class="formgrp">
                    <input type="text" name="phone" id="phone" placeholder="Enter the Phone No.">
                </div>
                <div class="formgrp">
                    <input type="text" name="org" id="org" placeholder="Organisation Name">

                </div>
                <!-- <div class="formgrp">
                    <input type="checkbox"  placeholder="Remember me ">
                </div> -->
                <div class="formgrp">
                    <button class="frombtn">Submit</button>
                </div>

            </form> 
        </div>
        <div class="name">
            <h1>&lt;/ITERATORZ&gt;</h1>
        </div>

    </header>
</body>

</html>