body{
    color:blanchedalmond;
    margin: 0px;
    padding: 0px;
    background: url(./imgs/green.jpg);
    background-repeat: no-repeat;
    background-size: 2066px 1080px;
    font-family:'Fredoka One', cursive;

}
.form-box{
    border: 5px solid whitesmoke;
    border-radius: 34px;
    /* display: inline-block; */
    width: 30%;
    padding: 96px 111px;
    margin: 74px 171px;
}



.btn
{
    background-color:#426f0d03;
    border: #426f0d03;;
    color: whitesmoke;
    font-family:'Fredoka One', cursive; 
    font-size:larger;
    border: 3px solid white;
    border-radius: 12px;
    padding: 9px 44px;
    margin: 12px 15px;
    cursor: pointer;
}

.btn:hover
{
    background-color: rgb(37, 35, 35);
    color:rgb(12, 192, 12);
    border:3px solid black ;
    border-radius: 12px;
}


.right{
    /* border: 2px solid blue; */
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 34px;
    margin: auto;
    padding: 0px 22px;

}
.navbar
{
    display: inline-block;
    padding: 2px 3px;
}
.navbar li {
    display: inline-block;
    padding: 2px 23px;
}
.navbar li a {

    color: white;
    font-size: 25px;
    
}
.navbar li a:hover{
    text-decoration: underline;
    color:black;
}

.right h6:hover{
    color:whitesmoke;
    cursor: crosshair;

}
a{
    text-decoration: none;

}

img{
     width:95px;
     background-repeat: no-repeat;
     background-size:300px 100px; 
     border-radius: 105px;
     margin: 4px 83px;
     padding: 0px;
     box-sizing: border-box;
}
.mid{
    /* border: 2px solid green; */
    display: block;
    width: 48%;
    margin: 40px auto;
    padding: 2px 22px;

}
.right h6{
    color: black;
    font-size:larger ;
    margin: 5px 21px;
    padding: 0px 39px;
}
.left
{
    /* border: 2px solid red; */
    position: absolute;
    top: 20px;
    right: 10px;
    display: inline-block;
    margin: 19px ;
}

.frombtn{
    padding: 10px 155px;
    display: inline-block;
    background-color: black;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    cursor: pointer;
    color: whitesmoke;
    border: none;
    border-radius: 35px;
    margin: 13px 119px;
}

.formgrp input{
    padding: 19px 58px;
    margin: 9px 56px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 20px;
    width: 83%;
    box-sizing: border-box;
    font-family:'Fredoka One', cursive;
    font-size: 17px;
}
.frombtn:hover{
    background-color: rgb(37, 35, 35);
    color:rgb(18, 214, 18);
}

   


.head{
    /* border: 2px solid grey; */
    color: black;
    display: inline-block;
    margin: 0px 100px;
    padding: 6px 10px;
    font-size: 34px;
}
.name{
    /* border: 2px solid blue; */
    color: rgb(61, 68, 59);
    display: inline-block;
    position: absolute;
    top: 346px;
    right: 5px;
    /* left: auto; */
    margin: 16px 217px;
    font-size: 33px;
    padding: 21px
}

.name:hover{
    color: black;
    cursor:cell;
    text-decoration:overline;
    text-decoration: underline;
}